* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: quicksand;
    height: 100%;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: #78797a;
}

.nav-logo {
    margin-left: 2rem;
}

.logo-img {
    height: 25px;
    width: auto;
    padding-left: 3vw;
    padding-right: 3vw;
}

.nav-links {
    margin-right: 2rem;
}

.nav-links a {
    font-size: 0.9rem;
    text-decoration: none;
    color: #333333;
    padding: 2px 3vw 2px 3vw;
    color: #fff;
}

/* Centered text */
.centered {
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ================== */

.bgimg-1 {
    position: relative;
    opacity: 0.75;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('trekking-bground.jpg');
    min-height: 100%;
    z-index: -1;
}

.shop-icon {
    vertical-align: middle;
}
