* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: quicksand;
    height: 100%;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    background-color: #78797a;
}

.nav-logo{
    margin-left: 2rem;
}

.logo-img {
    height: 25px;
    width: auto;
    padding-left: 3vw;
    padding-right:3vw;
}
/* Phone nav-bar */
@media only screen and (max-width:600px) {    
    .nav-links{
        margin-right:2rem;
    }
    .nav-links a {
        font-size: 0.9rem;
        text-decoration: none;
        color: #333333;
        padding: 2px 3vw 2px 3vw;
        color: #fff;
    }
}

/* Desktop nav-bar*/
@media only screen and (min-width:600px) {

    .nav-links{
        margin-right:2rem;
    }
    .nav-links a {
        font-size: 0.9rem;
        text-decoration: none;
        color: #333333;
        padding: 2px 3vw 2px 3vw;
        color: #fff;
    }
}